<div class="col-sm-4 mr-4">
  <div class="card text-white bg-success mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">
          <%= order.place %>
      </h5>      
      <p class="card-text">Number of Orders: <%= order.items.count %></p>
      <% if order.items.any? %> 
         <ul>
          <% order.items.each do |item| %>
            <li>
              <%= item.name %>, <%= item.details %>
            </li>
          <% end %>         
        </ul>
      <% end %>
    </div>
  </div>
  <div>
   <%= link_to 'Show', order %>
   <%= link_to 'Edit', edit_order_path(order) %>
   <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %> 
   <%= link_to 'New Order', new_order_path %>
   <%= link_to 'Home', root_path %>
  </div>
</div>
 
 
        



