<div class="row">
  <div class="col-sm-3">
    <h2>
      <%= order.place %>
    </h2>
     
     Numbers of Orders:
     <%= order.items.count %>
     <% if order.items.any? %>       
        <ul>
          <% order.items.each do |item| %>
            <li>
              <%= item.name %>, <%= item.details %>
            </li>
          <% end %>
        </ul>
      <% end %>
     <%= link_to 'Show', order %>
     <%= link_to 'Edit', edit_order_path(order) %>
     <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>


