<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @order.place %>
</p>
  <% @order.items.each do |item| %>
    <h3>
      <%= item.name %>
    </h3>
    <p>
      <%= item.details %>
    </p>
    <% end %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
